#click-button {
    display: flex;
    width: 25vmin;
    height: 25vmin;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 2em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: black;
    box-shadow: 2px 2px 4px 2px rgb(119, 119, 119);
    border-radius: 100%;
    transition: scale 70ms;
}

#click-button:active {
    scale: 98%;
}

.alert {
    position: absolute;
    left: 10px;
}

#shop {
    cursor: default;
}

#shop form {
    display: inline-flex;
    width: max-content;
    flex-wrap: nowrap;
}

#shop button {
    display: block;
    padding: 2px 5px;
    flex-shrink: 0;
    border: none;
    font-size: 1em;
    color: white;
    background-color: rgb(52, 52, 52);
    cursor: pointer;
}

#shop input {
    display: block;
    padding: 2px;
    flex-shrink: 0;
    border: none;
    margin-left: 3px;
    text-align: center;
    background-color: rgb(52, 52, 52);
    color: white;
}

#shop button:hover {
    background-color: rgb(195, 195, 195);
    color: black;
}

#leaderboard {
    padding: 10px;
    text-align: left;
    position: absolute;
    right: 10px;
    top: 70px;
}

#leaderboard h2{
    text-align: center;
    margin: 0;
}

#leaderboard th, #leaderboard tr {
    padding: 10px;
    font-weight: 400;
}

.upgrade.desc {
    font-size: 0.8em;
    margin: 0 0 5px 10px;
}