{% extends "base.html" %}

{% block header %}
<a href="{{url_for('main.profile')}}">Profile</a>
<a href="{{url_for('main.sign_out')}}">Sign Out</a>
<form action="{{url_for('main.save_game')}}" method="POST">
    <input type="hidden" name="csrf" value="{{ csrf }}">
    <button type="submit">Save</button>
</form>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}" />

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flashes">
    {% for category, message in messages %}
    <div class="alert {{ category }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div id="click-button" csrf_token="{{ csrf }}" click-url="{{ url_for('main.click') }}">Click me!</div>

<div id="shop">
    <h2>Shop</h2>
    <ul>
        {% for upgrade in upgrades %}
        <li>
            <form action="{{url_for('main.buy')}}" method="POST">
                <input type="hidden" name="csrf" value="{{ csrf }}">
                <input type="hidden" name="upgrade_id" value="{{ upgrade.upgrade_id }}">
                <button type="submit">{{upgrade.name}}</button>
                <input type="number" name="buy_amount" value="1" min="1" max="99" step="1">
            </form> | {{upgrade.buff}} | Price: {{ upgrade.price }} | You own: {{upgrade.amount}}<br>
            <div class="upgrade desc">{{upgrade.description}}</div>
        </li>
        {% endfor %}
    </ul>
</div>

<div id="leaderboard">
    <h2>Leaderboard <a href="{{url_for('main.index')}}">&#10227;</a></h2>
    <table>
        <tr>
            <th></th>
            <th>Clicks</th>
            <th>Username</th>
        </tr>
        {% for idx, user in game_data["leaderboard"] %}
        <tr>
            <th>{{idx+1}}</th>
            <th>{{user.clicks}}</th>
            <th>{{user.username}}</th>
        </tr>
        {% endfor %}
    </table>
    
</div>
<h2>Stats</h2>
<p>Username: {{ game_data.username }}</p>
<p>Clicks: <span id="clicks">{{ game_data.clicks }}</span></p>
<p>Points: <span id="points" passive-power="{{ game_data.passive_power }}">{{ game_data.points }}</span></p>

<script src="{{url_for('static', filename='javascript/game.js')}}"></script>
{% endblock %}