{% extends "base.html" %}

{% block header %}
<a href="{{url_for('main.index')}}">Game</a>
<a href="{{url_for('main.sign_out')}}">Sign Out</a>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flashes">
    {% for category, message in messages %}
    <div class="alert {{ category }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<form id="search" action="/profile" method="GET">
    Search for a player: <br>
    <input type="text" name="username" placeholder="Username" required value="{{ username if username else '' }}">
    <input type="submit" value="Search">
</form>

{% if profiles is mapping %}
{% if profiles.owner %}
<h2>Your profile:</h2>
<div id="profile_data">
    <p>Username: {{ profiles.username }}</p>
    <p>Email: {{ profiles.email }}</p>
    <p>Clicks: <span id="clicks">{{ profiles.clicks }}</span></p>
    <p>Account created on: {{ profiles.created_at }}</p>
</div>
{% else %}
<h2>Profile of {{ profiles.username }}</h2>
<div id="profile_data">
    <p>Clicks: <span id="clicks">{{ profiles.clicks }}</span></p>
    <p>Account created on: {{ profiles.created_at }}</p>
</div>
{% endif %}
{% else %}
<div id="profiles">
    {% for profile in profiles %}
    <form action="/profile" method="GET">
        <input type="hidden" name="username" value="{{ profile.username }}">
        <input type="submit" value="{{ profile.username }} - {{ profile.clicks }}">
    </form>
    {% endfor %}
</div>
{% endif %}

{% endblock %}